<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IKEA Stock-Finder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="Stock Finder">
    <meta property="og:url" content="<%= request.url %>">
    <meta property="og:title" content="IKEA Stock-Finder">
    <meta property="og:description" content="IKEAのサメ(それ以外も)の在庫と次回入荷日が分かるサイトです。">
    <meta property="og:image" content="<%= asset_url('twitter_card/logo.png') %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <%= analytics_init if Rails.env.production? %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2894483447538865",
        enable_page_level_ads: true
      });
    </script>
  </head>

  <body>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
